
@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="image-login">
    <div class="container">
        <div class="account">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="login">
                    <h1 class="account-title">Đổi mật khẩu</h1>
                  
                    @using (Html.BeginForm("ChangePassWord", "AccountUser", FormMethod.Post, new { onsubmit = "return checkPass();" }))
                    {
                       @Html.ValidationMessage("ErrorUpdate", new { @class = "text-danger", @id = "error-message" })
                        <hr />
                      <div class="clearfix large_form">
                         <label class="icon-field">
                         <i class="fas fa-lock"></i>
                          </label>
                           <input type="password" name="oldpassword" required class="form-control" id="oldpassword" placeholder="Mật khẩu cũ">
                       </div>
                       <div class="clearfix large_form">
                          <label class="icon-field">
                            <i class="fas fa-lock"></i>
                           </label>
                        <input type="password" name="password" required class="form-control" id="password" placeholder="Mật khẩu mới">
                        </div>
                        <div class="clearfix large_form">
                           <label class="icon-field">
                              <i class="fas fa-lock"></i>
                           </label>
                         <input type="password" class="form-control" required name="confirmpassword" id="confirmpassword" placeholder="Xác nhận mật khẩu">
                         </div> <br />
                          <div class="clearfix large_form">
                            <input class="btn btn-signin" type="submit" value="Đổi mật khẩu" style="width:100%;background:#33b5e5;">
                          </div>}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function checkPass() {
        if (document.getElementById("password").value != document.getElementById("confirmpassword").value) {
            document.getElementById("error-message").innerHTML = "Mật khẩu không khớp";
            return false;
        }
        return true;
    }
</script>

