
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<div class="contact">

    <div class="container">
        <h1>Liên hệ với XShop</h1>
        <div class="contact-form">

            <div class="col-md-7 contact-grid">
                <form>
                    <input type="text" value="Name" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Name';}">

                    <input type="text" value="Email" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Email';}">
                    <input type="text" value="Phone" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Phone';}">

                    <textarea cols="77" rows="5" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                    <div class="send">
                        <input type="submit" value="Send">
                    </div>
                </form>
            </div>
            <div class="col-md-5 contact-in">

                <div class="address-more">
                    <div class="content">

                        <div class="elementor-icon">
                            <i class="fas fa-mobile-alt"></i>
                        </div>


                        <div class="elementor-content">
                            <h3 class="elementor-title">
                                097 567 1080
                            </h3>
                            <p class="elementor-text"> Hỗ trợ từ 9:00 - 21:00</p>
                        </div>

                        <div class="address">
                            <p>
                                <span>Địa chỉ:&nbsp;</span>57 Quan Hoa, Cầu Giấy, Hà Nội
                            </p>

                        </div>
                        <div class="address">
                            <p><span>Email&nbsp;</span>contact.giayxshop.vn</p>
                        </div>
                    </div>

                </div>
                <div class=" clearfix "> </div>
            </div>

        </div>
    </div>
</div>